<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuración de conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/sports</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1710</property>

        <!-- Dialecto de Hibernate para PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Otras propiedades opcionales -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Configuración del contexto de sesión -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Mapear entidades si tienes clases anotadas -->
        <mapping class="model.Sport"/>
        <mapping class="model.Athlete"/>
    </session-factory>
</hibernate-configuration>
